version: '3.8'

services:
  # Base de datos PostgreSQL
  db:
    image: postgres:15-alpine
    container_name: order_management_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: jimQSroc7o5vMY04vTqJiLT0ruYD03JXK3l8MTYV8RZICxO6OAsSRFZP91Aw0tZQ
      POSTGRES_DB: order_management
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    networks:
      - app_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Backend API
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: order_management_backend
    restart: unless-stopped
    ports:
      - "4000:4000"
      - "5555:5555"  # Puerto para Prisma Studio
    environment:
      PORT: 4000
      DATABASE_URL: postgresql://postgres:jimQSroc7o5vMY04vTqJiLT0ruYD03JXK3l8MTYV8RZICxO6OAsSRFZP91Aw0tZQ@db:5432/order_management?schema=public
      JWT_SECRET: 1lHwjHGqxavm8DHDEZWcjI1D95slB4b3OMDwZtg2GhHeHquuZl0mosmk9mZIvvta
      NODE_ENV: development
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app_network
    volumes:
      - ./backend:/app
      - /app/node_modules

  # Frontend React
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: order_management_frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    environment:
      VITE_API_URL: http://localhost:4000/api
    depends_on:
      - backend
    networks:
      - app_network
    volumes:
      - ./frontend:/app
      - /app/node_modules

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data: