.sidebar {
  width: 220px;
  background: #111827;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 20px;
  margin-bottom: 30px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.sidebar-menu a {
  color: #d1d5db;
  text-decoration: none;
  padding: 8px 0;
  font-size: 20;
}

.sidebar-menu a:hover {
  color: #fff;
}

.logout-btn {
  background: #ef4444;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background: #dc2626;
}
