.layout-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.layout-content {
  flex-grow: 1;
  background: #f3f4f6;
  padding: 25px;
  width: 100%;
  overflow-x: hidden;
}

/* --- Pantallas menores a 1397px --- */
@media (max-width: 1397px) {
  .layout-container {
    display: block;
  }

  .layout-content {
    padding: 20px;
    padding-top: 70px;
    min-height: 100vh;
  }
}